.NavBar {
  width: 100vw;
  background-color: black;
  color: white;
  height: 90px;
  position: sticky;
}

.Title {
  font-family: "Rubik Glitch";
  font-size: 45px;
  float: left;
  padding: 20px;
}

li {
  display: inline-block;
}

.Links {
  padding-inline-start: 0%;
  list-style-type: none;
  margin: 0;
  vertical-align: middle;
}

.Link {
  font-size: 30px;
  float: right;
  padding: 23px;
  /* font-family: "Abel"; */
}

a {
  color: inherit;
  text-decoration: none;
}
